* {
	color:  #003399;
    box-sizing: border-box;
    text-decoration: none;
}

:focus {
	outline: none;
}

body {
	font-family: 'Nunito', sans-serif;

	margin: 0px;
	padding: 0px;
}

#app {
	float: left;
	width: 100%;
}

#box {
	padding: 10px;
}

.error {
	float: left;
	width: 100%;
	margin: 10px 0px;
	padding: 5px;
	color: #f25;
	background: #ff223306;
}

.info {
	float: left;
	width: 100%;
}

.menu {
	float: left;
	width: 100%;
}

.rlink {
	float: left;
	width: auto;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid #003399;
}

.rlink:hover {
	color: #fff;
	background: #003399;
}

button {
	margin: 10px 10px 10px 0px;
	padding: 10px 20px;
	color: #fff;
	background: #003399;
	border: 1px solid #003399;
	border-radius: 9px;
}

form {
	margin: 30px auto;
	padding: 20px;
	width: 90%;
	max-width: 450px;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.06);
}

form input {
	float: left;
	width: 100%;
	margin: 5px 0px;
	padding: 10px 20px;
}

.form-title {
	float: left;
	width: 100%;
}