<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Vue js cdn</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

		<!-- Styles -->
		<style>
			body {
				font-family: 'Nunito', sans-serif;
			}
			.rlink {
				margin: 10px;
				padding: 10px;
			}
		</style>
		
		<link href="css/app.css" rel="stylesheet">

		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://unpkg.com/vue-router@4"></script>
		<script src="https://unpkg.com/vuex@4"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body>
		<div id="app">
			<p>
				<router-link to="/" class="rlink">Go to Home</router-link>
				<router-link to="/about" class="rlink">Go to About</router-link>
				<router-link to="/users/123" class="rlink">Go to User</router-link>
			</p>

            <span v-html="`<div> hello </div>`"></span>

			<!-- Router -->
			<router-view></router-view>

			<!-- Widget -->
			<!--
			<div class="btc">
				<h1>Bitcoin Price Index</h1>

				<section v-if="errored">
				<p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
				</section>

				<section v-else>
					<div v-if="loading">Loading...</div>

					<div
						v-else
						v-for="currency in info"
						class="currency"
					>
						@{{ currency.description }}:
						<span class="lighten">
							<span v-html="currency.symbol"></span>@{{ currency.rate_float | currencydecimal }}
						</span>
					</div>
				</section>
			</div>
			-->

		</div>
	</body>

	<!-- Initialize app -->
	<script src="vue/app-init.js"></script>

	<!-- App components -->
	<script src="vue/components/login-form.js"></script>
	<script src="vue/components/about.js"></script>

	<!-- Run app router -->
	<script src="vue/app-run.js"></script>
</html>
